<h1 id="avl-trees">AVL Trees</h1>
<p>Now that you’ve had an introduction to AVL trees, let’s take a step
back and look at where this operation called rotation even comes from,
and hopefully end up with a better understanding of how to balance
trees, both by hand and encode.</p>
<h2 id="the-canonical-trees">The Canonical Trees</h2>
<p>Let’s start by taking the numbers 1,2,3 and creating every possible
valid binary search tree from these three numbers. Draw your search
trees in the space below.</p>
<p>{% capture answer1 %} Answer {% endcapture %} {% include
answer-box.html content=answer1 %}</p>
<p>You should come up with five search trees. You’ll notice only one of
them is balanced and the other four have balance factor of plus or minus
2. It turns out that every AVL tree, as soon as it becomes unbalanced,
can be written as one of these five search trees. So if we can balance
any of these five trees, we’ll see how AVL tree balancing actually
works.</p>
<p>Let’s agree to call these trees the 123 tree, the 132 tree, the 213
tree, the 321 tree, and the 312 tree.</p>
<p>If you think about it, there’s only one way to balance the four
imbalanced trees and that’s to convert any of them to the 213 tree. No
confusing “rotations” necessary: all trees end in the same place! Of
course, in most cases, the trees are working with don’t just have these
three nodes. They’ll have other subtrees hanging off of them so let’s
consider this case.</p>
<h2 id="adding-subtrees">Adding Subtrees</h2>
<p>Let’s imagine we have a bunch of real numbers, including 1, 2 and 3
and we want to put them in an AVL tree. If you think about the intervals
of the real line resulting from partitioning based on these three
numbers, you get four partitions: numbers less than one, numbers greater
than three, numbers between one and two, and numbers between two and
three. Let’s call these intervals ABCD and write them as follows:</p>
<p><span
class="math display">(<em>A</em>)…1…(<em>B</em>)…2…(<em>C</em>)…3…(<em>D</em>)</span></p>
<p>Where A,B,C,D are intervals of numbers. Each of these intervals
corresponds to a sub tree in our AVL tree. Take each of the five trees
you created above and add subtrees for A,B,C and D. Make sure that your
trees are each in the appropriate location compared to the numbers 1, 2
and 3.</p>
<p>{% capture answer2 %} Answer {% endcapture %} {% include
answer-box.html content=answer2 %}</p>
<p>If you compare each of the four imbalanced trees to the balanced 213
tree, now with the subtrees added, you should see that each of the four
imbalanced trees correlates to one of the four rotations you read about
last class. The 123 tree is balanced with a left rotation, the 321 tree
is balanced with a right rotation, the 132 tree is balanced with a
right-left rotation, and finally the 312 tree is balanced with a
left-right rotation. Whatever name you give these rotations they’re all
turning imbalanced tree into exactly the same, balanced, 213 tree.</p>
<h2 id="example">Example</h2>
<p>Let’s work through a moderate size example. Look at the AVL tree
below it’s currently balanced, but it won’t be for long. Insert the
number one. Once you’ve added one to the tree, find the lowest node in
the tree that has now become unbalanced.</p>
<figure>
<img src="tree-small-01.png" width="200" alt="Medium tree example" />
<figcaption aria-hidden="true">Medium tree example</figcaption>
</figure>
<p>The unbalanced tree is the sub tree rooted at 6. Now follow the path
from 6 to the node that was just inserted. Draw a box around the first
three numbers on that path. These numbers are arranged like a “321”
tree, and can be balanced with a right rotation. Identify each of the 4
subtrees A,B,C,D (use empty set to represent any missing trees) and draw
a new tree with this subtree now balanced.</p>
<p>{% capture answer3 %} Answer {% endcapture %} {% include
answer-box.html content=answer3 %}</p>
<p>Now try inserting the number 5 and go through the same balancing
process.</p>
<p>{% capture answer4 %} Answer {% endcapture %} {% include
answer-box.html content=answer4 %}</p>
<p>Try a larger example. In the following tree, perform each of the
following insertions (each time starting over from the same beginning
tree): 5, 140, 70, 115</p>
<figure>
<img src="big-tree-01.png" width="400" alt="Big tree example" />
<figcaption aria-hidden="true">Big tree example</figcaption>
</figure>
<p>{% capture answer-big1 %} Answer {% endcapture %} {% include
answer-box.html content=answer-big1 %}</p>
<p>{% capture answer-big2 %} Answer {% endcapture %} {% include
answer-box.html content=answer-big2 %}</p>
<p>{% capture answer-big3 %} Answer {% endcapture %} {% include
answer-box.html content=answer-big3 %}</p>
<p>{% capture answer-big4 %} Answer {% endcapture %} {% include
answer-box.html content=answer-big4 %}</p>
<h2 id="algorithmic-thinking">Algorithmic thinking:</h2>
<p>Now let’s write some pseudocode to perform the rotations. This is
where it proves advantageous to realize that these four balancing
operations are each built from one or two smaller balancing operations.
If you didn’t realize that, you could write four separate balancing
routines and they would work just fine, but let’s stick with the
traditional implementation and implement left balance and right balance
first as two different methods. To keep things consistent use the
variable names.”one” “two” and “three” and “A” “B” “C” “D” as
appropriate to identify the nodes in the subtrees that you’re changing
in each method. You may be surprised at how few changes are actually
necessary. Be sure in each method to return the root of the newly
balanced sub tree.</p>
<p>{% capture skeleton %}</p>
<div class="sourceCode" id="cb1"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="bu">Node</span> <span class="fu">leftRotate</span><span class="op">(</span><span class="bu">Node</span> one<span class="op">)</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% endcapture %}</p>
<p>{% capture solution %}</p>
<div class="sourceCode" id="cb2"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="bu">Node</span> <span class="fu">leftRotate</span><span class="op">(</span><span class="bu">Node</span> one<span class="op">)</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% endcapture %} {% include code-solution-box.html skeleton=skeleton
solution=solution %}</p>
<div class="sourceCode" id="cb3"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="bu">Node</span> <span class="fu">rightRotate</span><span class="op">(</span><span class="bu">Node</span> three<span class="op">)</span></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% capture answer-rightRotate %}</p>
<div class="sourceCode" id="cb4"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="bu">Node</span> <span class="fu">rightRotate</span><span class="op">(</span><span class="bu">Node</span> one<span class="op">)</span></span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% endcapture %} {% include answer-box.html
content=answer-rightRotate %}</p>
<p>Now you’ve written left and right rotate, you can write left-right
and right-left rotations by calling left and right rotations on
appropriate nodes and subtrees.</p>
<div class="sourceCode" id="cb5"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="bu">Node</span> <span class="fu">leftRightRotate</span><span class="op">(</span><span class="bu">Node</span> three<span class="op">)</span></span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% capture answer-leftRightRotate %}</p>
<div class="sourceCode" id="cb6"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a><span class="bu">Node</span> <span class="fu">leftRightRotate</span><span class="op">(</span><span class="bu">Node</span> one<span class="op">)</span></span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% endcapture %} {% include answer-box.html
content=answer-leftRightRotate %}</p>
<div class="sourceCode" id="cb7"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true" tabindex="-1"></a><span class="bu">Node</span> <span class="fu">rightLeftRotate</span><span class="op">(</span><span class="bu">Node</span> one<span class="op">)</span></span>
<span id="cb7-2"><a href="#cb7-2" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb7-3"><a href="#cb7-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb7-4"><a href="#cb7-4" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% capture answer-rightLeftRotate %}</p>
<div class="sourceCode" id="cb8"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb8-1"><a href="#cb8-1" aria-hidden="true" tabindex="-1"></a><span class="bu">Node</span> <span class="fu">rightLeftRotate</span><span class="op">(</span><span class="bu">Node</span> one<span class="op">)</span></span>
<span id="cb8-2"><a href="#cb8-2" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb8-3"><a href="#cb8-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb8-4"><a href="#cb8-4" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% endcapture %} {% include answer-box.html
content=answer-rightLeftRotate %}</p>
<p>The next thing we need to figure out is when each of these rotations
is appropriate. If you look at our four imbalanced trees, they each have
very different shapes. In the case of an insertion, a sub tree can
become imbalanced when you insert a new node. That new node has to be a
leaf. Look at the leaves of each of the four imbalanced trees we started
with. You can tell, which of the four rotations is necessary by
determining, first, if the balance factor is positive or negative
(indicating a right or left imbalance), and secondly, if the new leaf
node is greater than or less than its parent node. In the space below
bright four different conditions which exhaustively cover the four cases
of an imbalanced tree, and then say which balancing method you should
call for each case. Let’s assume that “node” is the root of a sub tree
with balance factor greater than one or less than negative one. Also
assume “data” is the integer value that has just been added to the AVL
tree.</p>
<div class="sourceCode" id="cb9"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb9-1"><a href="#cb9-1" aria-hidden="true" tabindex="-1"></a><span class="co">/* left rotate case */</span></span>
<span id="cb9-2"><a href="#cb9-2" aria-hidden="true" tabindex="-1"></a><span class="cf">if</span></span>
<span id="cb9-3"><a href="#cb9-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-4"><a href="#cb9-4" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-5"><a href="#cb9-5" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-6"><a href="#cb9-6" aria-hidden="true" tabindex="-1"></a><span class="co">/* right rotate case */</span></span>
<span id="cb9-7"><a href="#cb9-7" aria-hidden="true" tabindex="-1"></a><span class="cf">if</span></span>
<span id="cb9-8"><a href="#cb9-8" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-9"><a href="#cb9-9" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-10"><a href="#cb9-10" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-11"><a href="#cb9-11" aria-hidden="true" tabindex="-1"></a><span class="co">/* left-right rotate */</span></span>
<span id="cb9-12"><a href="#cb9-12" aria-hidden="true" tabindex="-1"></a><span class="cf">if</span></span>
<span id="cb9-13"><a href="#cb9-13" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-14"><a href="#cb9-14" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-15"><a href="#cb9-15" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-16"><a href="#cb9-16" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-17"><a href="#cb9-17" aria-hidden="true" tabindex="-1"></a><span class="co">/* right-left rotate */</span></span>
<span id="cb9-18"><a href="#cb9-18" aria-hidden="true" tabindex="-1"></a><span class="cf">if</span></span>
<span id="cb9-19"><a href="#cb9-19" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-20"><a href="#cb9-20" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-21"><a href="#cb9-21" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% capture answer-ifleft %}</p>
<div class="sourceCode" id="cb10"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb10-1"><a href="#cb10-1" aria-hidden="true" tabindex="-1"></a><span class="cf">if</span></span>
<span id="cb10-2"><a href="#cb10-2" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% endcapture %} {% include answer-box.html content=answer-ifleft
%}</p>
<p>{% capture answer-ifright %}</p>
<div class="sourceCode" id="cb11"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb11-1"><a href="#cb11-1" aria-hidden="true" tabindex="-1"></a><span class="cf">if</span></span>
<span id="cb11-2"><a href="#cb11-2" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% endcapture %} {% include answer-box.html content=answer-ifright
%}</p>
<p>{% capture answer-ifleftRight %}</p>
<div class="sourceCode" id="cb12"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb12-1"><a href="#cb12-1" aria-hidden="true" tabindex="-1"></a><span class="cf">if</span></span>
<span id="cb12-2"><a href="#cb12-2" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% endcapture %} {% include answer-box.html
content=answer-ifleftRight %}</p>
<p>{% capture answer-ifrightLeft %}</p>
<div class="sourceCode" id="cb13"><pre
class="sourceCode java"><code class="sourceCode java"><span id="cb13-1"><a href="#cb13-1" aria-hidden="true" tabindex="-1"></a><span class="cf">if</span></span>
<span id="cb13-2"><a href="#cb13-2" aria-hidden="true" tabindex="-1"></a></span></code></pre></div>
<p>{% endcapture %} {% include answer-box.html
content=answer-ifrightLeft %}</p>
<p>Finally, we have a bit of housekeeping to make this work with our
existing BinaryTree insert method. You’ll want to add a
<code>height</code> field that stores the height of each node (leaves
have height 1 and each subtree height is 1 more than its tallest
subtree.) Finally, define a <code>height(Node n)</code> method that
returns the <code>height</code> of the node, or 0 if the node is
<code>null</code> (this helps keep the code cleaner). We didn’t show
above, but you’ll need to recalculate the height after each insert and
rotation.</p>
<p>To finish this lesson, implement AVL tree rotation in your BinaryTree
class by modifying your existing <code>insert</code> method (and other
parts of the class as needed) You can test the accuracy first by
inserting the numbers 1 - 32 and making sure the resulting tree is
correct. Next, insert the integers 1-1,000,000 and it should take less
than one second, or so.</p>
