accessible-pygments==0.0.5
aiohappyeyeballs==2.3.5
aiohttp==3.10.3
aiosignal==1.3.1
alabaster==0.7.16
alembic==1.13.2
annotated-types==0.7.0
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astral==3.2
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
banal==1.0.6
beautifulsoup4==4.12.3
bleach==6.1.0
blis==1.0.1
bokeh==3.5.1
catalogue==2.0.10
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.20.0
cloudpickle==3.0.0
colorlog==6.8.2
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.8
dataset==1.6.2
datasets==2.20.0
debugpy==1.8.5
decision-tree-id3==0.1.2
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
docutils==0.20.1
doit==0.36.0
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.15.4
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.5.0
future==1.0.0
gensim==4.3.3
graphviz==0.20.3
greenlet==3.0.3
h11==0.16.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.5
hyperopt==0.2.7
idna==3.7
imageio==2.34.2
imagesize==1.4.1
imbalanced-learn==0.12.3
importlib_metadata==8.5.0
ipykernel==6.29.5
ipympl==0.9.4
ipython==8.26.0
ipython-genutils==0.2.0
ipywidgets==8.1.3
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-book==1.0.2
jupyter-cache==1.0.0
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
jupyterlite==0.4.4
jupyterlite-core==0.4.4
jupyterlite-pyodide-kernel==0.4.4
kiwisolver==1.4.5
langcodes==3.4.1
language_data==1.2.0
latexcodec==3.0.0
lazy_loader==0.4
liac-arff==2.5.0
libarchive-c==5.1
lightgbm==4.6.0
lime==0.2.0.1
linkify-it-py==2.0.3
llvmlite==0.43.0
Mako==1.3.5
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1.post1
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
minio==7.2.7
mistune==3.0.2
mlxtend==0.23.1
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
myst-nb==1.1.2
myst-parser==2.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
nose==1.3.7
notebook==7.2.1
notebook_shim==0.2.4
numba==0.60.0
numpy==2.0.2
nvidia-nccl-cu12==2.22.3
opencv-python==4.10.0.84
openml==0.14.2
optuna==3.6.1
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.2
platformdirs==4.2.2
plotly==5.24.1
preshed==3.0.9
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==5.27.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.7
pyarrow==17.0.0
pyarrow-hotfix==0.6
pybtex==0.24.0
pybtex-docutils==1.0.3
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.9.2
pydantic_core==2.23.4
pydata-sphinx-theme==0.15.4
pydataset==0.2.0
Pygments==2.18.0
pygraphviz==1.14
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.1
PyYAML==6.0.2
pyzmq==26.1.0
qtconsole==5.5.2
QtPy==2.4.1
ray==2.34.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.0
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
Send2Trash==1.8.3
shap==0.46.0
shellingham==1.5.4
six==1.16.0
slicer==0.0.8
smart-open==7.0.5
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.5
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==7.4.7
sphinx-book-theme==1.1.3
sphinx-cloud-theme==0.1.4
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==1.0.0
sphinx-multitoc-numbering==0.1.3
sphinx-rtd-theme==2.0.0
sphinx-thebe==0.3.1
sphinx-togglebutton==0.3.2
sphinx_design==0.6.1
sphinx_external_toc==1.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==1.4.53
srsly==2.4.8
stack-data==0.6.3
statsmodels==0.14.2
tabulate==0.9.0
tenacity==9.0.0
tensorboardX==2.6.2.2
terminado==0.18.1
thinc==8.3.2
threadpoolctl==3.5.0
tifffile==2024.7.24
tinycss2==1.3.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typer==0.13.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.3
uri-template==1.3.0
urllib3==2.2.2
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.11
wrapt==1.16.0
xgboost==2.1.1
xmltodict==0.13.0
xxhash==3.4.1
xyzservices==2024.6.0
yarl==1.9.4
yellowbrick==1.5
zipp==3.20.2
